<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <p id="notice"><%= notice %></p>

      <div class="panel panel-default">
        <div class="panel panel-heading">
          <h2 class="panel-title">
            <b>Name</b>
          </h2>
        </div>
        <div class="panel-body">
          <%= @product.name %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel panel-heading">
          <h2 class="panel-title">
            <b>Price:</b>
          </h2>
        </div>
        <div class="panel-body">
          <%= number_to_currency(@product.price) %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel panel-heading">
          <h2 class="panel-title">
            <b>Quantity:</b>
          </h2>
        </div>
        <div class="panel-body">
          <%= @product.quantity %>
      </div>
    </div>

      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning" %> |
      <%= link_to 'Back', products_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
